.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-rodape);
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    font-size: 1.1rem;
}

.rodape__imagem{
    margin-bottom: 2rem;
}

.rodape__icones{
    display: flex;
    margin-bottom: 2rem;
}

.rodape__social{
    margin-left: 1rem;
    height: 2000px;
    margin-right: 1rem;
}

.rodape__itens{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.rodape__item{
    color: white;
    margin: 0 1rem 0 1rem;
    line-height: 2rem;
    align-self: center;
}

@media screen and (min-width: 1024px) {
    .rodape{
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    

}

@media screen and (min-width: 1200px) {
    .rodape{
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .rodape__itens{
        flex-wrap: nowrap;
    }

    .rodape__item{
        line-height: 0rem;
    }

    .rodape__icones{
        margin-bottom: 0rem;
    }

    .rodape__imagem{
        margin-bottom: 0rem;
    }

}

.rodape__item:hover{
    text-decoration: underline;
    -webkit-transition: all 0.10s ease-in;
    -moz-transition: all 0.10s ease-in;
    -o-transition: all 0.10s ease-in;
    -ms-transition: all 0.10s ease-in;
    transition: all 0.10s ease-in;
}
